body {
	font-family: "Segoe UI", "Selawik", "Open Sans", Arial, sans-serif;
	background: #f0f2f5;
	padding: 10px;
}

.card-box {
	background-color: white;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	padding: 24px;
	width: 320px;
	margin-left: 0px;
}

.form-group {
	margin-bottom: 16px;
}

label {
	display: block;
	margin-bottom: 6px;
	font-weight: bold;
}

select,
button {
	width: 100%;
	padding: 10px;
	font-size: 15px;
	border-radius: 6px;
	border: 1px solid #ccc;
}

button {
	background-color: rgb(0, 95, 135);
	width: 40%;
	color: white;
	border: none;
	cursor: pointer;
	transition: background 0.3s ease;
}

button:hover {
	background-color: rgb(0, 95, 135);
}

#resultsTable table {
	border-collapse: collapse;
	width: 100%;
	font-family: Arial, sans-serif;
	background-color: white;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	overflow: hidden;
}

#resultsTable th,
#resultsTable td {
	padding: 12px;
	text-align: left;
}

#resultsTable th {
	background-color: #f5f5f5;
	font-weight: bold;
}

#resultsTable tr:nth-child(even) {
	background-color: #f0f0f0;
}

#resultsTable button {
	width: 40%;
	margin-right: 6px;
	padding: 4px 10px;
	background-color: rgb(0, 95, 135);
	width: 40%;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#resultsTable button:hover {
	background-color: #2980b9;
}